.pie-graph {
   width: 35vw;
}
.pie-graph__container {
   position: relative;
   width: 100%;
   background: transparent;
}

/* @media only screen and (max-width: 600px) {
   .pie-graph {
      width: 100vw;
   }
} */
