/* Container */
.month-status {
   display: flex;
   flex-direction: column;
   gap: 25px;
   background-color: #e6e6e6;
   width: fit-content;
   padding: 25px;
   border-radius: 5px;
   cursor: default;
}
.month-status__title {
   font-size: 2.5rem;
}
.month-status__content {
   display: flex;
   gap: 25px;
}
/* Status Item */
.month-status__item {
   min-width: 200px;
   padding: 25px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   font-size: 1.5rem;
}
.month-status__item-title {
   font-weight: bold;
}
.month-status__item-content--neutral {
   color: black;
}
.month-status__item-content--credit {
   color: #4caf50;
}
.month-status__item-content--debit {
   color: #f44336;
}
/* Add button */
.month-status__btn-container {
   display: flex;
   padding: 0 25px;
}
