.navbar {
   height: 50px;
   background-color: white;
   padding: 0 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar__options {
   display: flex;
}
.navbar__link {
   height: fit-content;
   text-decoration: none;
   color: gray;
   cursor: pointer;
   font-size: 16px;
}
.navbar__link:hover {
   color: black;
   font-weight: bold;
   border-bottom: 2px solid #feca1d;
}
button.navbar__link {
   background-color: transparent;
   border: none;
}
.navbar__options .navbar__link {
   margin-inline-end: 25px; /* Flex gap - 	68.35% supported */
}
