.navbar {
   height: 50px;
   background-color: white;
   padding: 0 25px;
   display: flex;
   gap: 25px;
   align-items: center;
}
.navbar__link {
   height: fit-content;
   text-decoration: none;
   color: gray;
   cursor: pointer;
   font-size: 16px;
}
button.navbar__link {
   background-color: transparent;
   border: none;
}

.navbar__link:hover {
   color: black;
   font-weight: bold;
   border-bottom: 2px solid #feca1d;
}
