.statistics-page {
   display: flex;
   flex-direction: column;
}

/* TEST - use as global page section ?*/
.section {
   background-color: #e6e6e6;
   padding: 25px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.statistics-page__month-year-selection {
   display: flex;
   gap: 25px;
}

.graph-section {
   width: fit-content;
   padding: 25px;
   background-color: #e6e6e6;
   border-radius: 5px;
   margin-top: 18px;
   margin-bottom: 25px;
}
.list-container {
   background-color: #e6e6e6;
   border-radius: 5px;
   padding-top: 25px;
}

.title {
   font-weight: bold;
   /* font-size: 24px; */
   padding-right: 25px;
}

.test-select {
   margin-right: 25px;
}
